// layout variables
@grid-spacing: 45px;
@mobile-grid-spacing: 25px;

// colors variables
@main-color: #03a9f4;
@accent-color: #e0e0e0;
@toast-sucess-color: #8BC34A;
@light-text: #ffffff;
@dark-text: #2f2f2f;
@light-background-color: #f9f9f9;